@import url(./default.css);

header {
    display: block;
    background-color: #fff;
    padding: 0.7rem 1.5rem;
    border-bottom: 1px solid #eaecef;
    z-index: 99;
    right: 0;
}

header a,
img,
span {
    display: inline-block;
}

header a {
    font-weight: 500;
}

.nav-container {
}
