<!-- <section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About Me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="../assets/profile.jpg" alt="" />
      </div>
    </div>
  </div>
</section> -->
<!-- <div class="container">
    <div class="row">
        <div class="about-content">
            <img src="/assets/profile.jpg" alt="profile-img" />
            <h2 style="font-weight: bold">Front-End 개발자 이희준입니다.</h2>
        </div>
    </div>
</div> -->
