<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DevAbyss Blog</title>

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="/node_modules/highlight.js/styles/github.css"
        />
        <link rel="stylesheet" href="../css/main.css" />
        <!-- <link
            rel="stylesheet"
            media="(max-width: 1024px)"
            href="../css/main_medium.css"
        />
        <link
            rel="stylesheet"
            media="(max-width: 768px)"
            href="../css/main_small.css"
        /> -->

        <!-- JAVASCRIPT -->
        <script defer src="/js/EventFunc.js" defer></script>
    </head>
    <body>
        <!-- HEADER -->
        <%-nav%>

        <!-- MAIN -->
        <main class="main">
            <section class="home section" id="home">
                <div class="home_container container grid">
                    <div class="home_content grid">
                        <div class="home_social">
                            <a
                                href="https://github.com/devabyss"
                                target="_blank"
                                class="home_social-icon"
                            >
                                <img
                                    src="../assets/github_light.png"
                                    onmouseover="this.src='../assets/github_hover.png'"
                                    onmouseout="this.src='../assets/github_light.png'"
                                    alt=""
                                />
                            </a>
                            <a href="" target="_blank" class="home_social-icon">
                            </a>
                            <a href="" target="_blank" class="home_social-icon">
                            </a>
                        </div>
                        <div class="home_img">
                            <img src="../assets/profile.jpg" alt="" />
                        </div>
                        <div class="home_data">
                            <h1 class="home_title">
                                안녕하세요. 프론트엔드 개발자 이희준입니다.
                            </h1>
                            <h3 class="home_subtitle">
                                안녕하세요. 프론트엔드 개발자 이희준입니다.
                            </h3>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <section class="content-section"><%-content%></section>
    </body>
</html>
