<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DevAbyss Blog</title>

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="/node_modules/highlight.js/styles/github.css"
        />
        <link rel="stylesheet" href="../css/main.css" />
        <link
            rel="stylesheet"
            media="(max-width: 1024px)"
            href="../css/main_medium.css"
        />
        <link
            rel="stylesheet"
            media="(max-width: 768px)"
            href="../css/main_small.css"
        />

        <!-- JAVASCRIPT -->
        <script defer src="/js/EventFunc.js" defer></script>
    </head>
    <body>
        <!-- Navigation -->
        <header class="section"><%-nav%></header>

        <section class="content-section"><%-content%></section>
    </body>
</html>
