<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DevAbyss Blog</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/about.css" />
        <link
            rel="stylesheet"
            href="/node_modules/highlight.js/styles/github.css"
        />

        <!-- JAVASCRIPT -->
        <script src="/js/EventFunc.js" defer></script>
    </head>

    <body>
        <!-- Default Template -->

        <!-- Navigation -->
        <header id="navbar"><%-nav%></header>

        <section class="content-section"><%-content%></section>
    </body>
</html>
