<div id="nav">
    <div>
        <ul>
            <li>
                <a href="/deploy/nav/aboutMe.html">
                    About Me
                </a>
            </li>
            <li>
                <a href="/deploy/nav/work.html">
                    Work
                </a>
            </li>
            <li>
                <a href="/deploy/nav/project.html">
                    Project
                </a>
            </li>
            <li>
                <a href="/deploy/nav/studyHome.html">
                    Study
                </a>
            </li>
        </ul>
    </div>
</div>