<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav_logo">DevAbyss</a>
        <div class="nav_menu" id="nav_menu">
            <ul class="nav_list grid">
                <li class="nav_item">
                    <a href="/deploy/nav/about.html" class="nav_link">
                        <img
                            class="nav_icon"
                            src="../assets/user_light.png"
                            onmouseover="this.src='../assets/user_hover.png'"
                            onmouseout="this.src='../assets/user_light.png'"
                            alt=""
                        />
                        About
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/deploy/nav/studyHome.html" class="nav_link">
                        <img
                            class="nav_icon"
                            src="../assets/study_light.png"
                            onmouseover="this.src='../assets/study_hover.png'"
                            onmouseout="this.src='../assets/study_light.png'"
                            alt=""
                        />
                        Study
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">
                        <img
                            class="nav_icon"
                            src="../assets/code_light.png"
                            onmouseover="this.src='../assets/code_hover.png'"
                            onmouseout="this.src='../assets/code_light.png'"
                            alt=""
                        />
                        개발일기
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">
                        <img
                            class="nav_icon"
                            src="../assets/cancel_light.png"
                            onmouseover="this.src='../assets/cancel_hover.png'"
                            onmouseout="this.src='../assets/cancel_light.png'"
                            alt=""
                        />
                        닫기
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav_btns">
            <!-- 테마 변경 버튼 -->
            <img
                class="change_theme"
                id="theme_btn"
                src="../assets/dark.png"
                alt=""
            />
            <div class="nav_toggle" id="nav_toggle">
                <!-- 메뉴 토글 버튼 -->
                <img
                    class="toggle_icon"
                    src="../assets/menu_light.png"
                    onmouseover="this.src='../assets/menu_hover.png'"
                    onmouseout="this.src='../assets/menu_light.png'"
                    alt=""
                />
            </div>
        </div>
    </nav>
</header>
