<div class="container">
    <!-- left group -->
    <div class="left-group">
        <div class="logo">
            <a href="#">
                <img src="../assets/logo_light.png" alt="logo" />
            </a>
        </div>
        <ul class="main-menu toggle">
            <li><a href="/deploy/nav/about.html">About</a></li>
            <li><a href="/deploy/nav/work.html">Work</a></li>
            <li><a href="/deploy/nav/studyHome.html">Study</a></li>
            <li><a href="#">개발일기</a></li>
        </ul>
    </div>

    <!-- right group -->
    <div class="right-group toggle">
        <form id="search-form" method="POST" action="">
            <input
                type="text"
                id="search"
                class="input--text"
                placeholder="Search GitHub"
            />
            <input type="submit" value="Submit" />
        </form>
    </div>

    <div id="toggle-btn">
        <img src="../assets/menu_light.png" alt="menu-toggle" />
    </div>
</div>
